doctype 5
html
	head
		//
		// If you want to know how this site is made, just let me know and I will tell you.
		//
		title= title
		link(rel='stylesheet', href='/css/bootstrap.min.css')
		link(rel='stylesheet', href='/css/bootstrap-theme.min.css')
	body
		block content
		.text-center
			p.text-muted Assignment website made by <a href="http://matej.me/">Matej Kramny</a>. Proudly <a href="https://github.com/matejkramny/assignment-tracker">Open Source</a> :)
		script(src="/js/jquery.min.js")
		script(src="/js/bootstrap.min.js")